# --- App ------------------------------------------------------------
APP_NAME=<your app name>
LOG_LEVEL=INFO
MAX_JSON_BODY_BYTES=<This will be used to check the JSON data upload in payload for legacy ingests>
MAX_FILE_UPLOAD_BYTES=<This will be used to check the size of file uploaded(docx/pdf)>
REQUEST_TIMEOUT_SECONDS=30

# --- LLM backend selection ------------------------------------------
GENERATOR_BACKEND=(sap/llamacpp)

# --- SAP AI Core (only needed if GENERATOR_BACKEND=sap) -------------
AICORE_AUTH_URL = <>
AICORE_CLIENT_ID = <>
AICORE_CLIENT_SECRET = <>
AICORE_RESOURCE_GROUP = <>
AICORE_BASE_URL = <>
MODEL_NAME = <>

# --- llama.cpp (only needed if GENERATOR_BACKEND=llamacpp) ----------
LLAMA_MODEL_PATH=<>
LLAMA_CTX_SIZE=<>
LLAMA_MAX_TOKENS=<>
LLAMA_TEMPERATURE=<>
LLAMA_TIMEOUT_SEC=<>